.navigation-list-item .navigation-list-child-list {
    display: block;
}

.core-action {
    margin-bottom: 20px;
    border: 2px solid #f5f6fa;;
    border-left: 5px solid #f5f6fa;;
    font-size: 14px;
    transition: background-color .2s ease-out,border .2s ease-out;
}

// .core-action:hover {
//     border-color: #666;
//     border-left-color: #666;
// }

.core-action > h2, .core-action > figure, .core-action > p, .core-action > div  {
    padding-left: 10px;
    padding-right: 10px;
}

.core-action > figure > pre {
    overflow: hidden;
}

.page-header {
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #eeebee;
}

.bottom-bar {
    position: fixed;
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    margin-top: 50px;
    line-height: 1.4;
    color: #5c5962;
    border-top: 1px solid #eeebee;
    border-bottom: none;
}
.bottom-bar > .main-content {
    justify-content: flex-start;
}
.main-content-wrap > .main-content {
    margin-bottom: 60px;
}
@media (max-width: 46.25rem) {
    .bottom-bar {
        display: none;
    }
}

.navigation {
    padding-top: 0;
    padding-bottom: 80px;
}

// .side-bar {
//     width: 248px;
//     min-width: 248px;
// }

// @media (min-width: 46.25rem) {
//     .side-bar {
//         width: 248px;
//     }
// }

// h2::before, h3::before  { 
//     display: block; 
//     content: " "; 
//     margin-top: -80px; 
//     height: 80px; 
//     visibility: hidden; 
//     pointer-events: none;
// }